.logo{
    height:5px;
    padding-right: 5px;
    padding-left: 5px;
}
.navbar-brand{
    margin: 0;
    padding: 0;
    height: 50px;
    padding-right: 5px;
    padding-left: 5px;
}
.navbar-inverse{
    height:60px;
    padding-top: 5px;
}
#search {
    padding-left: 140px;
    padding-bottom: 0px;
    background-color: #108db9;
    margin-left: 700px;
    margin-right: 15px;
}
.input-group .form-control, .input-group-addon, .input-group-btn {
    display: flow-root;
}
.form-control {
    color: #333;
    background-color: #83cee5;
    border: 1px solid #3920c7;
    border-radius: 4px;
}
button, input, select, textarea {
    font-family: cursive;
}
.btn-default {
    color: #333;
    background-color: #83cee5;
    border-color: #3920c7;
}
#mynavBar{
    padding-right: 25px;
    padding-left: 600px;
}
.jumbotron{
    margin-top: 10%;
}
#footer{
    position: fixed;
    padding: 10px 0;
    text-align: center;
    background-color: black;
    color:#9d9d9d;
    bottom: 0;
    width: 100%;
}
.dropdown-toggle:hover li a{
    width: 100%;
    text-decoration: none;
    color: #000000;
    font-size: 15px;
    line-height: 32px;
    padding: 0 15px;
    display: block;
    position: absolute;
}
